@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 100px;
    margin-right: 20px;
}

.counter-section {
    font-size: 24px;
    color: #ffffff;
}

.logo-section span img {
    width: 100px;
    object-fit: cover;
}

.auth-section a {
    color: black;
    background-color: #a0ff00;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
}

.auth-section a:hover {
    background-color: #8bcf00;
}

body {
    margin: 0;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    overflow: hidden;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s;
}

#color-box {
    padding-top: 70px;
    margin-top: 10px;
    position: relative;
    z-index: 1000;
    background-color: transparent;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #000000;
    color: #fdfdfd; 
}


.light-mode h2 {
    color: #000000;
}

.dark-mode h2 {
    color: #fdfdfd;
}

div {
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 7px;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
}
